{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "ie 11"
          ]
        },
        "modules": false,
        "loose": true,
        "exclude": ["babel-plugin-transform-es2015-typeof-symbol"]
      }
    ]
  ],
  "plugins": ["transform-class-properties"],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            },
            "loose": true
          }
        ]
      ]
    }
  }
}